@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
body{
    background-color: rgb(67, 67, 80);
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: background;
    overflow: hidden;
}
@keyframes background {
    0% {background-color: rgb(67, 67, 80);}
    50% {background-color: rgb(48, 48, 58);}
}
h{
    font-family: 'Oxygen Mono', monospace;
    font-size: 40px;
    color: rgb(206, 205, 205);
}
h1{
    border-left: 30px;
    text-align: left;
    font-family: 'Oxygen Mono', monospace;
    font-size: 14px;
}
input{
    border-color: rgb(67, 67, 80);
    border-radius: 5px;
    border-style: solid;
    width: 225px;
    height: 15px;
}
button{
    margin-top: 10px;
    background-color: rgb(67, 67, 80);
    color: rgb(206, 205, 205);
    font-size: 14px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    width:60px;
    height:30px;
    transition: 200ms ease-in-out;
}
button:hover{
    background-color: rgb(48, 48, 58);;
}

div.header{
    margin-top: 180px;
    text-align: center;
}
div.form{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    background-color: rgb(194, 194, 194);
    animation-name: smooth;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    margin-top: 20px;
    border-radius: 5px;
}
@keyframes smooth{
    0% {margin-top: 300px;}
    100% {margin-top: 20px;}
}